# Custom
/keys.env
dev.ipynb
dev2.ipynb
/Logger/Logs/
temp/
.DS_Store
Database/
dev.py

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
venv/
pyvenv.cfg
myenv/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
